<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Eliminate translation from JUL to slf4j overhead -->
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>
    
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	    <!-- encoders type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
	    <encoder>
	    	<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
	    </encoder>
	</appender>
	
	<logger name="javacloud.framework" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	
	<!-- The level of the root level is set to INFO by default.-->
  	<root level="INFO">
    	<appender-ref ref="STDOUT" />
	</root>
</configuration>
